export(df_descstat)
export(df_stationarity)
export(df_nonlinearity)
import(dplyr)
import(e1071)
import(psych)
import(fNonlinear)
import(tseries)
importFrom("stats", "embed", "sd", "shapiro.test")
